.announcement-info-item {
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.announcement-title {
    font-family: "Nunito", sans-serif;
    font-size: 23px;
    font-weight: 700;
}

.announcement-detailed-info {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.pet-type {
    display: flex;
    gap: 5px;

    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
}

.pet-type > p {
    color: #8f00ff;
}

.announcement-description {
    display: flex;
    flex-direction: column;
    gap: 15px;

    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.announcement-image {
    border-radius: 5px;

    display: block;

    height: auto;
    width: 100%;

    margin: 0 auto;

    object-fit: cover;
}

.announcement-contact {
    position: relative;
}

.announcement-contact-inner {
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
}

.author-avatar {
    border: 1px solid #dcdcdc;
    border-radius: 99em;
    display: block;
    height: 70px;
    margin: 0 auto;
    max-width: 70px;
    width: 100%;
}

.author-name {
    font-size: 22px;
    font-weight: 300;
}

.author-phone {
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    color: #000;
    font-family: "Montserrat", sans-serif;
}

.announcement-contact-inner {
    align-items: center;
    background: #00000080;
    height: 100%;
    justify-content: center;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 999;
}

.announcement-contact-inner-box {
    background: #fff;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    height: auto;
    width: 400px;
    min-height: 200px;

    padding: 10px;

    position: relative;
}

.xmark {
    position: absolute;
    top: 10px;
    right: 10px;

    cursor: pointer;
}

.pading {
    padding: 20px;
}

@media screen and (max-width: 725px) {
    .announcement-title {
        font-size: 14px;
    }

    .announcement-detailed-info {
        gap: 10px;
    }

    .announcement-info-item {
        gap: 10px;
    }

    .pet-type {
        font-size: 12px;
    }

    .announcement-image {
        margin: 50px auto;
    }

    .announcement-description {
        font-size: 12px;
        gap: 10px;
    }


}